<div>
  <h1>ColorPicker</h1>
  <sketch-picker [control]="sketchControl"></sketch-picker>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <h3 matListItemTitle>hex</h3>
      <span matListItemLine>{{ sketchControl.value.toHexString() }}</span>
      <span matListItemLine>{{ sketchControl.value.toHexString(true) }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h3 matListItemTitle>rgb</h3>
      <span matListItemLine>{{ sketchControl.value.toRgbString() }}</span>
      <span matListItemLine>{{ sketchControl.value.toRgbaString() }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h3 matListItemTitle>hsl</h3>
      <span matListItemLine>{{ sketchControl.value.toHslString() }}</span>
      <span matListItemLine>{{ sketchControl.value.toHslaString() }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h3 matListItemTitle>hsv</h3>
      <span matListItemLine>{{ sketchControl.value.toHsvString() }}</span>
      <span matListItemLine>{{ sketchControl.value.toHsvaString() }}</span>
    </mat-list-item>
    <mat-list-item role="listitem">
      <h3 matListItemTitle>cmyk</h3>
      <span matListItemLine>{{ sketchControl.value.toCmykString() }}</span>
    </mat-list-item>
  </mat-list>
</div>
