<div class="encoder-decoder">
  <h1>JwT decode</h1>
  <app-input [(input)]="input" [rows]="3"></app-input>
  <ng-container *ngIf="output | async as jwt">
    <app-output title="Header">
      <pre><code [highlight]="stringify(jwt.header)"></code></pre>
    </app-output>
    <app-output title="Payload">
      <pre><code [highlight]="stringify(jwt.payload)"></code></pre>
    </app-output>
    <app-output title="Signature">
      <pre><code [highlight]="jwt.signature"></code></pre>
    </app-output>
  </ng-container>
</div>
