<mat-card>
  <mat-card-title
    >UUID
    <button mat-button color="primary" (click)="generate()">
      Generate
    </button></mat-card-title
  >
  <div class="list">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>UUID v4</mat-label>
      <input matInput [ngModel]="v4" readonly="" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>UUID v1</mat-label>
      <input matInput [ngModel]="v1" readonly="true" />
    </mat-form-field>
  </div>
</mat-card>
