<div class="encoder-decoder">
  <h1>UUID</h1>
  <app-configuration>
    <app-configuration-option title="Hyphens" description=" ">
      <mat-slide-toggle matListItemMeta [(ngModel)]="hyphens">{{
        hyphens ? "On" : "Off"
      }}</mat-slide-toggle>
    </app-configuration-option>
    <app-configuration-option title="Uppercase" description=" ">
      <mat-slide-toggle matListItemMeta [(ngModel)]="uppercase">{{
        uppercase ? "On" : "Off"
      }}</mat-slide-toggle>
    </app-configuration-option>
    <app-configuration-option
      title="Version"
      description="Choose the UUID version to generate"
    >
      <mat-form-field matListItemMeta>
        <mat-select [(ngModel)]="version">
          <mat-option [value]="'v1'">v1</mat-option>
          <mat-option [value]="'v4'">v4</mat-option>
        </mat-select>
      </mat-form-field>
    </app-configuration-option>
    <app-configuration-option title="Count" description=" ">
      <mat-form-field matListItemMeta>
        <input matInput type="number" [(ngModel)]="count" />
      </mat-form-field>
    </app-configuration-option>
  </app-configuration>
  <h3>Generate</h3>
  <button mat-raised-button color="primary" (click)="generate()">
    Generate
  </button>
  <app-output [rows]="15" [output]="output"></app-output>
</div>
