<div class="encoder-decoder">
  <h1>UUID</h1>
  <app-configuration>
    <app-configuration-option
      title="Hyphens"
      description="Should have hyphens in output"
    >
      <mat-slide-toggle matListItemMeta [(ngModel)]="options.hyphens">{{
        options.hyphens ? "On" : "Off"
      }}</mat-slide-toggle>
    </app-configuration-option>
    <app-configuration-option
      title="Uppercase"
      description="Should uppercase the output"
    >
      <mat-slide-toggle matListItemMeta [(ngModel)]="options.uppercase">{{
        options.uppercase ? "On" : "Off"
      }}</mat-slide-toggle>
    </app-configuration-option>
    <app-configuration-option
      title="Version"
      description="Choose the UUID version to generate"
    >
      <mat-form-field>
        <mat-select [(ngModel)]="options.version">
          <mat-option [value]="'v1'">v1</mat-option>
          <mat-option [value]="'v4'">v4</mat-option>
        </mat-select>
      </mat-form-field>
    </app-configuration-option>
    <app-configuration-option title="Count" description=" ">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="options.count" />
      </mat-form-field>
    </app-configuration-option>
  </app-configuration>
  <h3>Generate</h3>
  <button mat-raised-button color="primary" (click)="generate()">
    Generate
  </button>
  <app-output>
    <pre><code>{{ output }}</code></pre>
  </app-output>
</div>
