<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list
      ><ng-container *ngFor="let category of menu">
        <h3 matSubheader>
          <img class="image-icon" [src]="'assets/font/' + category.icon" />
          {{ category.label }}
        </h3>
        <mat-divider></mat-divider>
        <a
          class="menu-item"
          mat-list-item
          *ngFor="let item of category.menuItems"
          [routerLink]="item.path"
          ><img class="image-icon" [src]="'assets/font/' + item.icon" />
          {{ item.label }}</a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <div class="flex-spacer"></div>
      <button mat-icon-button (click)="toggleColorMode()">
        <mat-icon aria-hidden="false" aria-label="Toggle light mode">{{
          invertColorMode()
        }}</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
