/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'sass:map';
@import './scss/_configuration';
@import './scss/_shared';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    background: 'black',
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent: mat.define-palette(mat.$yellow-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.slide-toggle-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.divider-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.snack-bar-theme($light-theme);

@include configuration-theme($light-theme);
@include shared-theme($light-theme);

// Apply the light theme only when the `.dark-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark_mode {
  @include mat.core-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.input-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.select-color($dark-theme);
  @include mat.slide-toggle-color($dark-theme);
  @include mat.form-field-color($dark-theme);
  @include mat.divider-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.snack-bar-color($dark-theme);

  @include configuration-color($dark-theme);
  @include shared-color($dark-theme);

  .image-icon { 
    filter: invert(1);
  }
  mat-nav-list {
    .menu-item {
      &.sidenav-item-active.mat-list-item {
        background: mat.get-color-from-palette($dark-primary, 500);
        color: mat.get-color-from-palette($light-primary, '500-contrast');
      }
    }
  }

  @import 'highlight.js/scss/vs2015.scss';
}

@import 'highlight.js/scss/googlecode.scss';

input[type=file] {
  display: none;
}

.image-icon {
  max-height: 24px;
  margin-right: 8px;
}

mat-nav-list {
  .menu-item {
    .image-icon{
      padding-left: 25px;
    }
    &.sidenav-item-active.mat-list-item {
      background: mat.get-color-from-palette($light-primary, 500);
      color: mat.get-color-from-palette($light-primary, '500-contrast');
      .image-icon {
        filter: invert(1);
      }
    }
  }
}

mat-toolbar {
  a.icon {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    img {
      height: 24px;
      width: 24px;
    }
  }
}