/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'sass:map';
@import './scss/_configuration';
@import './scss/_shared';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    background: 'black',
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent: mat.define-palette(mat.$yellow-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the dark theme by default
@include mat.legacy-core-theme($light-theme);
@include mat.legacy-card-theme($light-theme);
@include mat.legacy-button-theme($light-theme);
@include mat.legacy-input-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.legacy-select-theme($light-theme);
@include mat.legacy-slide-toggle-theme($light-theme);
@include mat.legacy-form-field-theme($light-theme);
@include mat.divider-theme($light-theme);
@include mat.legacy-list-theme($light-theme);
@include mat.legacy-snack-bar-theme($light-theme);
@include mat.legacy-tabs-color($light-theme);

@include configuration-theme($light-theme);
@include shared-theme($light-theme);

// Apply the light theme only when the `.dark-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark_mode {
  @include mat.legacy-core-color($dark-theme);
  @include mat.legacy-card-color($dark-theme);
  @include mat.legacy-button-color($dark-theme);
  @include mat.legacy-input-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.legacy-select-color($dark-theme);
  @include mat.legacy-slide-toggle-color($dark-theme);
  @include mat.legacy-form-field-color($dark-theme);
  @include mat.divider-color($dark-theme);
  @include mat.legacy-list-color($dark-theme);
  @include mat.legacy-snack-bar-color($dark-theme);
  @include mat.legacy-tabs-color($dark-theme);

  @include configuration-color($dark-theme);
  @include shared-color($dark-theme);

  mat-nav-list {
    .menu-item {
      &.sidenav-item-active.mat-list-item {
        background: mat.get-color-from-palette($dark-primary, 500);
        color: mat.get-color-from-palette($light-primary, '500-contrast');
      }
    }
    .image-icon {
      filter: invert(1);
    }
  }

  mat-toolbar {
    a.icon {
      img {
        filter: invert(0);
      }
    }
  }

  @import 'highlight.js/scss/vs2015.scss';
}

@import 'highlight.js/scss/googlecode.scss';

input[type=file] {
  display: none;
}

.image-icon {
  max-height: 24px;
  margin-right: 8px;
}

mat-nav-list {
  .menu-item {
    .image-icon{
      padding-left: 25px;
    }
    &.sidenav-item-active.mat-list-item {
      background: mat.get-color-from-palette($light-primary, 500);
      color: mat.get-color-from-palette($light-primary, '500-contrast');
      .image-icon {
        filter: invert(1);
      }
    }
  }
}

mat-toolbar {
  a.icon {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    img {
      height: 24px;
      width: 24px;
      filter: invert(1);
    }
  }
}