@use '@angular/material' as mat;
@use 'sass:map';

@mixin configuration-color($color) {
  .dt-configuration {
    .dt-configuration-option {
      background-color: map.get(map.get($color, 'background'), 'card');
      border-color: grey;
    }
  }
}

@mixin configuration-theme($theme) {
  .dt-configuration {
    .dt-configuration-option {
      border-style: 1px solid;
      border-radius: 5px;
      @include mat.elevation(2);
      
      padding: 15px;

      margin-bottom: 16px;
    
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .dt-configuration-option-title {
        margin: 0px;
      }
    }
  }
  $color: mat.get-color-config($theme);

  @if $color != null {
    @include configuration-color($color);
  }
}
