@use '@angular/material' as mat;
@use 'sass:map';

@mixin configuration-color($color) {
  .configuration {
    .mat-list-item {
      background-color: map.get(map.get($color, 'background'), 'card');
      border-color: grey;
    }
  }
}

@mixin configuration-theme($theme) {
  .configuration {
    .mat-list-item {
      border-radius: 5px;
      @include mat.elevation(2);
      margin-bottom: 15px;
    }
  }
  $color: mat.get-color-config($theme);

  @if $color != null {
    @include configuration-color($color);
  }
}
