@use '@angular/material' as mat;
@use 'sass:map';

@mixin encoder-decoder-color($color) {
  .encoder-decoder {
    .input, .output{
      > div {
        background-color: map.get(map.get($color, 'background'), 'card');
        @include mat.elevation(2);
      }
    }
  }
}

@mixin encoder-decoder-theme($theme) {
  .encoder-decoder {
    .input, .output{
      > div {
        border-radius: 5px;
        width: calc(100% - 20px);
        padding: 10px;
        textarea {
          width: 100%;
          border-style: none;
          outline: none;
        }
      }
    }

  }

  $color: mat.get-color-config($theme);

  @if $color != null {
    @include encoder-decoder-color($color);
  }
}
