<div class="encoder-decoder">
  <h1>Base64 Text Encoder / Decoder</h1>
  <app-configuration>
    <app-configuration-option
      title="Convertion"
      description="Select witch convertion mode you want to use"
    >
      <mat-slide-toggle matListItemMeta [(ngModel)]="encode">{{
        encode ? "Encode" : "Decode"
      }}</mat-slide-toggle>
    </app-configuration-option>
  </app-configuration>
  <ng-container *ngIf="encode; else decode">
    <div class="section">
      <h3>Input</h3>
      <div>
        <button mat-raised-button color="primary" (click)="openFileChooser()">
          Browse
        </button>
        <input
          type="file"
          #fileUpload
          accept="image/*"
          multiple="false"
          (change)="onFileSelected()"
        />
      </div>
    </div>
    <app-output [output]="base64"></app-output>
  </ng-container>
  <ng-template #decode>
    <div class="section">
      <app-input [(input)]="base64"></app-input>
      <div *ngIf="base64.length < 35 * 1024; else imageTooBig">
        <img [src]="base64" />
      </div>
      <ng-template #imageTooBig>Image is too big</ng-template>
    </div>
  </ng-template>
</div>
